## Find out the prabability of the corona infected people by knowning the symtoms.

In [1]:
import pandas as pd

## Reading data

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.448960         0   82          1           0              0
1   98.402419         1   79          1           0              1
2  101.976742         0   99          1           1              1
3  100.979772         0    2          1           0              1
4  100.549600         0   72          0          -1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2550  101.317917         1   87          0           1              1
2551   98.688371         1   33          0           0              0
2552   99.281470         0   80          0          -1              1
2553  100.925166         0   50          0           1              1
2554  100.441739         0   44          1           0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555 entries, 0 to 2554
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2555 non-null   float64
 1   bodyPain       2555 non-null   int64
 2   age            2555 non-null   int64
 3   runnyNose      2555 non-null   int64
 4   diffBreath     2555 non-null   int64
 5   infectionProb  2555 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 119.9 KB

In [6]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000
mean,99.998145,0.504110,50.545205,0.504892,-0.010959,0.481800
std,1.158575,0.500081,29.194253,0.500074,0.815303,0.499766
min,98.001744,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.994849,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.961132,1.000000,51.000000,1.000000,0.000000,0.000000
75%,101.010474,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999200,1.000000,100.000000,1.000000,1.000000,1.000000

In [7]:
df['runnyNose'].value_counts()

1    1290
0    1265
Name: runnyNose, dtype: int64

## train test spliting

In [8]:
# this is used for shuffle the data and then produce shuffled data
from sklearn.model_selection import train_test_split
train,test=train_test_split(df, test_size=0.2 , random_state=42)

In [9]:
print(f"Rows in train set : {len(train)} \n Rows in test set : {len(test)} \n")

Rows in train set : 2044
 Rows in test set : 511

In [10]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2552   99.281470         0   80          0          -1              1
2461   98.758106         1   28          1           1              0
1918   98.984479         0   95          0           0              1
1905  100.250975         1   95          1          -1              1
2338  100.055870         1   58          0           0              0
...          ...       ...  ...        ...         ...            ...
1638   99.385208         0   13          0           1              1
1095  100.072634         0   52          1           1              1
1130   99.190259         0   99          1           1              1
1294   98.145414         1   79          0           1              1
860   100.102719         1   47          0           1              1

[2044 rows x 6 columns]

In [11]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1266   98.528594         1   62          0           1              1
1749  100.286333         0   80          1          -1              1
2050   99.858109         0   13          1           0              1
393   101.266947         0   12          1           1              1
1544   98.341886         1   54          0           0              1
...          ...       ...  ...        ...         ...            ...
2429   99.533514         1   31          1          -1              0
2462  101.879803         1   58          1          -1              1
2137   99.169000         0   37          0           1              0
361   101.381961         1   90          1          -1              1
2272   98.433019         0   20          0          -1              0

[511 rows x 6 columns]

In [12]:
x_train=train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
x_test=test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [13]:
y_train=train[['infectionProb']].to_numpy().reshape(2044,)
y_test=test[['infectionProb']].to_numpy().reshape(511,)

In [14]:
y_train

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()

In [17]:
clf.fit(x_train, y_train)

LogisticRegression()

In [18]:
inpputfeatures=[100, 1, 33, 1, 0]
corona=clf.predict_proba([inpputfeatures])[0][1]

In [19]:
corona

0.4768670720065239